<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/about.css">
    <title>StreamIt - The Creators</title>
</head>
<body>
    <style>
        body {
          background-image:url('static/movie.jpg.png');
        }
        </style>
    <header class="showcase">
        <div class="showcase-top">
            <img src="static/streamlogo.png" alt="Netflix Logo">
            <a href="{{ url_for('home')}}" class="btn btn-rounded">Home</a>
        </div>
        <div class="showcase-content">
            <h1>Welcome to the creators of StreamIt.</h1>
        </div>
    </header>

    <section class="style-cards">
        <div class="card-3">
            <div class="desc-0">
                <h1>Ivan Joshua Bascuguin</h1>
            </div>
            <img src="static/ivan.jpg" alt="Netflix TV">
        </div>
        
        <div class="card-3">
            <div class="desc-3">
                <h1>Kayleen Ashly M. Esconde</h1>
            </div>
            <img src="static/kk.jpg" alt="Device-Pile-In">
        </div>
        <div class="card-3">
            <div class="desc-3">
                <h1>Wendell A. Anorma</h1>
            </div>
            <img src="static/bubba.jpg" alt="Device-Pile-In">
        </div>
    </section>
    <footer class="footer">
        <p>Created for school purposes only.</p>
    </footer>
</body>
</html>